section#o_nas 
    header 
        h2.stroke O nas
        p.light Projektujemy 
            span.bold internetowe kampanie reklamowe 
            span.light skutecznie zwracające uwagę konsumentów na ofertę Twojej firmy. Tworzymy 
            span.bold grafiki reklamowe
            span.light , 
            span.bold internetowe strony ofertowe 
            span.light oraz redagowane 
            span.bold treści multimedialne 
            span.light wspomagające współczesne rozwiązania e-commerce.
    aside.tiles
        mixin description(title, text)
            h4= title
            .arrow 
                include ../svg/arrow_bold.svg
            p.normal= text
        .tile
            .icon
                include ../svg/browser.svg
            +description(
                "Reklamy w internecie", 
                "Za sprawą zróżnicowanych środków przekazu trafimy do każdego potencjalnego klienta. Poszerz razem z nami swoje zasięgi o mnogość nowych klientów!"
            )
        .tile
            .icon
                include ../svg/rwd.svg
            +description(
                "Strony WWW", 
                "e-Wizytówki, katalogi usług i produktów czy sklep internetowy. W obecnych czasach firmowa strona internetowa to wizerunkowa awangarda każdej firmy."
            )
        .tile
            .icon
                include ../svg/microphone.svg
            +description(
                "Spoty reklamowe", 
                "Jeżeli nie zobaczą.. to usłyszą. Spot reklamowy w radiu lub na platformie streamingowej utrwali wizję Twojej firmy w świadomości społeczeństwa."
            )
    .bubbles
        .topRight
            .bubble.n1.size-3
            .bubble.n2.size-2
            .bubble.n3.size-1