section#blog.fog
    include ../svg/goo.svg
    aside
        h2.stroke Blog
        ul.entries.normal
            li Sed ut perspiciatis unde omnis iste
            li natus error sit voluptatemo
            li icta sunt explicabo. Nem
            li eius modi tempora incidunt ut l
            li minima veniam, quis nostrum
        button.prev.inverted
            include ../svg/arrow_right.svg
        button.next
            include ../svg/arrow_right.svg
    main
        article
            h3 qui ratione voluptatem sequi
            .img
                img
            .info.light                      
                span.author Cyceron                        
                .date
                    .icon
                        include ../svg/calendar.svg
                    span 12 marca -45r.                   
            p.content.normal
                span Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eligendi nesciunt quo exercitationem iusto praesentium adipisci velit sequi id repudiandae? Eveniet architecto voluptatum, aspernatur magnam a aliquam ratione praesentium quam. [...]
            button Wróć