section#kampanie_reklamowe 
    aside.ads
        include ../svg/ads.svg
    main
        h2.stroke Kampanie reklamowe w całym polskim internecie
        h3 Plan marketingowy zakrojony pod działalność Twojej firmy.
        p.light Po przez 
            span.bold profilowane materiały reklamowe 
            span dotrzemy do internautów z najwyższym potencjałem do skorzystania z Twoich usług. Profilowana kampania marketingowa skutkuje najwyższym współczynnikiem odsłon do 
            span.bold pozyskanych klientów!
    .bubbles
        .topLeft
            .bubble.n1.size-3
            .bubble.n2.size-3