section#kontakt
    main
        h2.stroke Kontakt
        p Porozmawiajmy o dobrej reklamie!
        .card
            .logo
                include ../svg/logo_horizontal.svg
            p.info Usługi reklamowe dla każdej firmy
            .telephone
                .icon
                    include ../svg/phone.svg
                a(href="tel:+48881757993")
                    span.light +48
                    span.bold 881 757 993
            .email
                .icon
                    include ../svg/envelope.svg
                a(href="mailto:kontakt@rdkmarketing.pl") 
                    span.light kontakt@
                    span.bold rdkmarketing.pl
    aside.normal
        mixin article(title)
            h3.stroke= title
        article.system.active
            h3.stroke Dane systemowe
            .content.light
                p.bold "RDK DARIUSZ KOWAL"
                P ul. Bolkowska 2
                p 58-173 Roztoka
                p.bold NIP: 
                    span.light 884-280-36-20
                p.bold REGON: 
                    span.light 387228690
        article.payment
            h3.stroke Dane do płatności
            .content
                p.bold IBAN 
                    span.light PL 48 1050 1908 1000 0097 3605 0304
                p.bold SWIFT 
                    span.light INGBPLPW
        article.delivery 
            h3.stroke Adres wysyłkowy
            .content.light
                p RDK DARIUSZ KOWAL
                P ul. Bolkowska 2
                p 58-173 Roztoka
    footer
        p.light 2021 © RDKMARKETING