section#landing 
    header.landing
        .logo
            include ../svg/rdk_marketing.svg
        mixin links
            a.button(href="/#o_nas") O nas
            a.button(href="/#kampanie_reklamowe") Oferta
            a.button(href="/#blog") Blog
            a.button(href="/#kontakt") Kontakt  
        nav
            .links.visible
                +links
            .icon.menu
                include ../svg/mobile_menu.svg 
        nav.mobile
            .links
                +links           
            .icon.close
                include ../svg/mobile_close.svg
    .mid
        main
            h1.stroke Kompleksowe usługi marketingu internetowego
            h2 Wypromujemy Twoją firmę w całym polskim internecie!
            a.button(href="/#kampanie_reklamowe") Przejdź do oferty
        aside.hero.fluid
                .webpage
                    include ../svg/webpage.svg
                .socialbar.extended
                    include ../svg/socialbar.svg
                .comment-1.extended
                    img(src="./static/webp/avatar_comment_1.webp", alt="Obrazek użytkownika 1")
                    include ../svg/comment_1.svg
                .comment-2.extended
                    img(src="./static/webp/avatar_comment_2.webp", alt="Obrazek użytkownika 2")
                    include ../svg/comment_2.svg
                .comment-3.extended
                    img(src="./static/webp/avatar_comment_3.webp", alt="Obrazek użytkownika 3")
                    include ../svg/comment_3.svg
                .user.extended
                    img(src="./static/webp/avatar_user.webp", alt="Obrazek użytkownika 4")
                    include ../svg/user.svg
                .article-1.extended
                    img(src="./static/webp/art_top_left.webp", alt="Artykuł sponsorowany 1")
                    include ../svg/article_top_l.svg
                .article-2.extended
                    img(src="./static/webp/art_top_right.webp", alt="Artykuł sponsorowany 2")
                    include ../svg/article_top_r.svg
                .article-3.extended
                    img(src="./static/webp/art_bottom_left.webp", alt="Artykuł sponsorowany 3")
                    include ../svg/article_bottom_l.svg
                .article-4.extended
                    img(src="./static/webp/art_bottom_right.webp", alt="Artykuł sponsorowany 4")
                    include ../svg/article_bottom_r.svg
    footer
        a.arrow-icon(href="/#o_nas")
            include ../svg/arrow_down.svg