section#content_marketing 
    main 
        h2.stroke Marketing treści
        p.light Najlepszą metodą aby dotrzeć do odpowiednich osób jest pomóc im samym 
            span.bold dotrzeć do swojej marki
            span . Ciekawie prowadzony 
            span.bold blog o działalności firmy, zwracający uwagę 
            span.bold profil na portalu społecznościowym 
            span lub 
            span.bold podcast 
            span w którym porozmawiamy o Twoim produkcie i charakterze Twojego przedsiębiorstwa. To są materiały które 
            span.bold dostarczają stałych klientów 
            span i sprawiają, że z Twojej branży 
            span.bold wyróżniona zostaje właśnie Twoja firma.
    aside
        .bubble.n1
            span Wortale branżowe
            img(src="./static/webp/news.webp" alt="Wortale branżowe")
        .bubble.n2
            span Podcasty
            img(src="./static/webp/podcast.webp" alt="Podcasty")
        .bubble.n3
            span Blogi
            img(src="./static/webp/blog.webp" alt="Blogi")
        .bubble.n4
            span Serwisy społecznościowe
            img(src="./static/webp/social.webp" alt="Serwisy społecznościowe")
    .bubbles
        .topRight
            .bubble.n5.size-2
            .bubble.n6.size-2