section#spoty_reklamowe 
    main 
        h2.stroke Spoty reklamowe 
        p.light Tworzymy 
            span.bold spoty reklamowe 
            span na potrzeby kampanii w 
            span.bold mediach społecznościowych 
            span oraz 
            span.bold na platformach streamingowych. 
            span Organizujemy również emisje spotów w regionalnych lub ogólnokrajowych rozgłośniach radiowych. To sprawia że możemy 
            span.bold dotrzeć do Twoich klientów 
            span również wtedy gdy nie korzystają z sieci.
        .player
            .icon
            .wave
    aside.mic            
        .bubble.white.n1
        img(src="./static/webp/microphone_small.webp", alt="Ilustracja mikrofonu")
        .bubble.alternative.n2
    .bubbles
        .topLeft
            .bubble.n3.size-2
            .bubble.n4.size-2