section#www 
    main
        h2.stroke Strony WWW, sklepy online, aplikacje internetowe
        p.light Otwierasz nowy biznes lub 
            span.bold strona WWW 
            span Twojej firmy wygląda jakby pamiętała czasy myszek kulkowych? Stworzymy dla Ciebie 
            span.bold nowoczesną, funkcjonalną i responsywną 
            span stronę internetową którą Twoi klienci będą przeglądać z przyjemnością.
    .views
        include ../svg/views.svg 
    .bubbles
        .topRight
            .bubble.n1.size-2
            .bubble.n2.size-3