<!DOCTYPE html>
html(lang="pl")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="Kompleksowe usługi marketingu internetowego. Wypromujemy Twoją firmę w całym polskim internecie! Napisz do nas na adres kontakt@rdkmarketing.pl lub zadzwoń pod numer (+48) 881 737 993")
        link(rel="icon", href="./static/png/favicon.png", type="image/png")
        title rdkmarketing.pl » Kompleksowe usługi marketingu internetowego
    body
        include ./pug/landing.pug
        include ./pug/about.pug
        include ./pug/campaign.pug
        include ./pug/www.pug
        include ./pug/spots.pug
        include ./pug/marketing.pug
        include ./pug/blog.pug
        include ./pug/contact.pug
