@import ".env.scss";

#o_nas {
    display: flex;
    flex-direction: column;
    position: relative;

    .tiles {
        position: relative;
        bottom: 0;
        transition: bottom 1s * $animationMultiplier;
    }

    &.invertedAnimation {
        .tiles {
            bottom: -8em !important;
        }
        
    }

    header {
        margin-bottom: 3rem;

        p {
            max-width: 55ch;
        }
    }
    .tiles {
        display: grid;
        gap: 5rem;
        
        .tile {
            min-width: 15ch;
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 3rem;
            text-align: justify;
            align-items: center;
            transition: border-color .5s;

            background: linear-gradient(to bottom, rgba($color: white, $alpha: .2), transparent);
            border: .2rem solid rgba($color: white, $alpha: .2);
            border-radius: 2rem;
            
            h4 {
                text-align: center;
            }

            p {
                font-size: 3em;
            }

            .icon, .arrow {
                $width: 15rem;
                width: $width;
                height: $width;
                
                svg {
                    fill:white;
                    width: 100%;
                }
            }

            .arrow {
                $width: 5rem;
                width: $width;
                height: $width;
            }

            > * {
                margin: 0;
                padding: 0;
                margin-top: 1rem;
            }
        }

        .tile:hover {
            cursor: pointer;
            border-color: white;
        }
    }

    .bubble {
        transition: right $animationMultiplier * 1s;
    }

    .bubble.n1 {
        top: -20rem;
        right: 15rem;
    }

    .bubble.n2 {
        top: 5rem;
        right: 10rem;
    }

    .bubble.n3 {
        top: 2rem;
        right: 65rem;
    }
    

    &.invertedAnimation {
        .bubble.n1 {
            right: 10rem !important;
        }
        .bubble.n2 {
            right: 5em !important;
        }
        .bubble.n3 {
            right: 40rem !important;
        }
    }
}