@import ".env.scss";

#blog.full {
    flex-flow: column-reverse;
    align-items: flex-start;
    flex-flow: wrap-reverse;

    main {
        position: relative;

        .info {
            padding: 1em 0;
        }

        .content {
            font-size: 1em;
        }

        h3 {
            font-size: 5rem;
            position: absolute;
            top: 30rem;
            padding: 3rem 4rem;
            border-radius: 0 1rem 1rem 0;
            background: rgba($color: black, $alpha: .4);
            backdrop-filter: blur(10px);
        }
        .img {

            $height: 50em;
            height: $height;
            img {
                height: $height;
            }
        }
        button {            
            @media only screen and (max-width: 480px) {
                width: 100vw;
                top: 0;
                left: 0;
                position: fixed;
                font-size: 4rem;
            }
            position: absolute;
            top: 5rem;
            background: rgba($color: black, $alpha: .4);     
            border-radius: 0 1rem 1rem 0;
            padding: 3rem;            
            backdrop-filter: blur(10px);

            svg {
                height: 1em;
                position: relative;
                top: .1em;
                margin-left: .5em;                
                position: sticky;
                position: -webkit-sticky;
            }
        }
    }

    aside {
        .date {
            margin-left: .6em;
            font-size: .7em;
            color: rgba($color: white, $alpha: .8)
        }
    }
}

#blog {
    z-index: 1;
    transform: scale(1);
    transition: transform .5s;
    display: flex;
    align-items: center;
    flex-flow: wrap;
        
    button {
        cursor: pointer;
        align-self: flex-end;
        float: right;
        background-color: rgba($color: white, $alpha: .25);
        border: none;
        border-radius: 1rem;
        color: white;
        font-size: 3.5em;
        padding: 1.5rem 2rem;
        outline: none;        
        svg {
            fill: white;
        }  
    }

    aside {
        margin-right: 10rem;
        flex: 1;
        margin-bottom: 5rem;

        @media only screen and (max-width: 480px) {
            min-width: 100%;
        }
        
        span {
            display: none;
        }

        button {
            float: left;
            svg {
                height: 3rem;
                position: relative;
                top: .2rem;
            }
        }

        button.inverted {
            svg {
                transform: rotate(180deg);
            }
        }

        button + button {
            @media only screen and (max-width: 480px) {
                float: right;
            }
            margin-left: 3rem;
        }
    }

    &.fog {
        opacity: .7;
        h3, span, button, li {
            user-select: none;
            filter: url("#goo");
            background: white;
            opacity: .8;
        }
        li {
            margin-left: 0 !important;
        }
        li::before {
            display: none !important;
        }
        span {
            font-size: .9em;
            line-height: 1.8em;
        }
    }

    main {
        flex: 1;
        margin-bottom: 5rem;
        article {
            
            @media only screen and (max-width: 480px) {
                .info {
                    font-size: 2.8rem !important;
                }
                button {
                    width: 100%;
                }
                h3 {
                    font-size: 3.5rem !important;
                }
            }

            h3 {
                margin-bottom: 1em;
                font-size: 4rem;
            }

            .img {
                $height: 25rem;
                z-index: -1;
                position: relative;
                width: 100%;
                height: $height;
                overflow: hidden;   
                border-radius: 2rem;
                
                background-color: rgba($color: white, $alpha: .25);

                img {
                    position: absolute;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                    width: 100%;           
                    height: $height;
                    background-size: 10em;
                    background-repeat: no-repeat;
                    background-position: center;                               
                    outline: none;
                    border: none;
                }
            }

            .info {
                display: flex;
                justify-content: space-between;
                font-size: 4rem;
                padding: 4rem 0;
                .date {
                    .icon {
                        display: inline;
                        margin-right: .5em;
                        svg {
                            fill: white;
                            height: .7em;
                        }
                    }
                }
            }
            p {
                margin-top: 0;
            }
        }
    }

    .entries {
        font-size: 3.5em;
        padding: 0;
        list-style-type: none;
        width: fit-content;

        li.active, li:hover {
            cursor: pointer;
            color: white;

            &::before {
                background-color: rgba($color: white, $alpha: .8);
            }
        }

        li {
            margin: .5em 0;
            margin-left: .6em;
            position: relative;
            font-weight: 300;
            color:rgba($color: white, $alpha: .7);
            width: fit-content;
            transition: color .3s;

            &::before {
                content: "";
                display: block;
                width: .3em;
                height: 1em;
                background-color: rgba($color: white, $alpha: .25);
                position: absolute;
                left: -.6em;
            }
        }
    }

}