@import ".env.scss";

#kampanie_reklamowe {
    display: flex;
    flex-flow: wrap-reverse row;
    align-items: center;
    justify-content: space-evenly;


    &.invertedAnimation {
        .ads {
            left: -10rem !important;
        }
        main {
            right: -10rem !important;
        }

        .bubble.n1 {
            left: -30rem;
        }
        .bubble.n2 {
            left: -50rem;
        }
    }

    .ads {
        position: relative;
        left: 0;
        transition: left 1s * $animationMultiplier;
        margin: 2em;
        svg {
            max-height: 50em;
            max-width: 100%;
        }
    }

    main {
        position: relative;
        right: 0;
        transition: right 1s * $animationMultiplier;
        flex: 1;
        max-width: 100ch;
        min-width: 65ch;
        h3 {
            margin-top: 1em;
        }
        margin-bottom: 1em;
    }

    .bubble.n1 {
        top: -25rem;
        left: -15rem;
        position: relative;
        transition: left 1s * $animationMultiplier;
    }
    .bubble.n2 {
        top: 5rem;
        left: -30rem;
        position: relative;
        transition: left 1s * $animationMultiplier;
    }

}