@import ".env.scss";

#kontakt {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-flow: wrap;
    padding-bottom: 10rem;

    &.invertedAnimation {
        aside {
            right: -5rem !important;
        }
        main {
            left: -5rem !important;
        }
    }

    main {          
        align-self: center;
        position: relative;
        left: 0;
        transition: left 1s * $animationMultiplier;
        .card {
            width: auto;
            @media only screen and (max-width: 425px) {
                font-size: .9em;
                padding: 2rem 2rem;
                text-align: center;

                > *:not(:first-child) {
                    margin: 2rem auto 0 !important;
                }

                .telephone {
                    margin-top: 1em !important;
                }
                
                .icon {
                    display: none;
                    height: 1em;
                    width: auto;
                    align-self: center;
                    margin-right: 1rem !important;
                }

                .telephone {
                    font-size: 9vw !important;
                }
                .email {
                    font-size: 6vw !important;
                }
                .info {
                    font-size: 4.5vw !important;
                }
            }

            padding: 3rem 4rem;
            border: 1px solid rgba($color: white, $alpha: .5);
            border-radius: 2rem;
            background: rgba($color: white, $alpha: .1);

            > *:not(:first-child) {
                margin: 2.5rem auto 0;
            }
            .telephone {                
                margin-top: 4rem;
            }

            svg {
                fill: white;
            }

            .icon {
                height: 1em;
                width: auto;
                align-self: center;
                margin-right: 2rem;
            }
            
            .logo {
            }


            .telephone, .email, .info {
                display: flex;
                width: max-content;
            }

            
            .info {
                font-size: 3.5em;
                text-align: center;
                max-width: 100%;
            }

        
            .telephone::after {
                content: "Pn-Pt 9:00-15:00";
                position: absolute;
                font-size: .6em;
                right: 0;
                top: -1em;
                opacity: .5;
                font-weight: 200;
            }

            .telephone {
                position: relative;
                font-size: 5em;
                span:first-of-type {
                    margin-right: 2rem;
                }
            }
            .email {
                font-size: 3.5em;
            }
        }
        
        .icon {
            display: inline-block;
        }
    }

    aside {
        display: flex;
        flex-flow: column wrap;
        position: relative;
        right: 0;
        transition: right 1s * $animationMultiplier;

        article:not(:last-child) {
            margin-bottom: 2rem;
        }

        h3:hover {
            cursor: pointer;
            user-select: none;
        }

        .content {                
            padding: 1rem 0;              
                
            p {
                margin: .5rem 0;
            }
        }

        @media only screen and (min-width: 426px) {
            h3.stroke::after {
                width: 5rem;
                opacity: .3;
                transition: opacity .2s, width .2s;
            }

            h3.stroke:hover::after {
                opacity: .6;
            }


            .content {
                overflow: hidden;
                
                position: relative;
                max-height: 0;
                opacity: 0;
                transition: max-height .5s, opacity .5s;
            }

            article.active {
                h3.stroke::after {
                    opacity: 1;
                    width: 10rem;
                }
                .content {
                    max-height: 500px;                    
                    opacity: 1;
                }
            }
        }

        
    }

    footer {
        position: absolute;
        bottom: 0;
        font-size: .8em;
    }
}