@import ".env.scss";
$animationMultiplier: $animationMultiplier * .5;

@function moveX($x, $level) {
    @return $x - ($level/2) * $x * .5;
}
@function moveY($y, $level) {
    @return $y - ($level/2) * $y * .2;
}
@function shadow($x, $y, $level) {
    @return drop-shadow($x $y $level * 1px rgba($color: black, $alpha: .2));
}
@mixin position($x, $y) {
    top: $y !important;
    left: $x !important;
}
@mixin levitation($x, $y, $level) {
    $distX: .3em * $level;
    $distY: .2em * $level;
    filter: shadow($distX, $distY, $level);
    transition: left 1s * $animationMultiplier, top 1s * $animationMultiplier, filter 1s * $animationMultiplier;
    @include position(($x - $distX) , ($y - $distY));
}

.hero.fluid {
    transition: top $animationMultiplier * 1s, opacity $animationMultiplier * 1s, font-size $animationMultiplier * 1s;
}

.hero {
    position: relative;

    > div {
        position: absolute;
    }
    .webpage {
        width: 8.5em;

        .webpage-color-1 {
            opacity: .6;
        }
    }
    .socialbar {
        width: 6.8em;
    }
    
    .socialbar {
        $level: 1;
        $x: 1.5em;
        $y: .4em;
        @include position($x, $y);

        &.extended {
            @include levitation($x, $y, $level)
        }
    }
    
    $leftColumnX: 1.3em ;
    $leftColumnY: 1em;
    $leftColumnElementHeight: .8em;
    $displacementX: .3em;

    $leftColumnElementWidth: 2.5em;

    .comment-1, .comment-2, .comment-3 {
        img {
            position: absolute;
            height: $leftColumnElementHeight - .2em;
            top: .04em;
            left: .06em;
        }
    }
    .user, .comment-1, .comment-2, .comment-3{
        width: $leftColumnElementWidth;
    }

    .user {
        width: $leftColumnElementWidth + .3em;
    }

    .comment-1 {
        $level: 3;
        $x: $leftColumnX;
        $y: $leftColumnY;

        @include position($x, $y);
        
        &.extended {
            $y: $y + .2em;
            @include position($x, $y);
            @include levitation($x, $y, $level);
        }
    }
    .comment-2 {
        $level: 2;
        $x: $leftColumnX - $displacementX;
        $y: $leftColumnY + $leftColumnElementHeight;
        
        @include position($x, $y);
        
        &.extended {
            $y: $y + .2em;
            @include position($x, $y);
            @include levitation($x, $y, $level);
        }
    }
    .comment-3 {
        $level: 1;
        $x: $leftColumnX - $displacementX * 2;
        $y: $leftColumnY + $leftColumnElementHeight * 2;

        @include position($x, $y);
        
        &.extended {
            $y: $y + .2em;
            @include position($x, $y);
            @include levitation($x, $y, $level);
        }
    }
    .user {
        $level: 2;
        $x: $leftColumnX - $displacementX * 3.2 - .2em;
        $y: $leftColumnY + $leftColumnElementHeight * 3;

        @include position($x, $y);
        
        &.extended {
            $y: $y + .4em;
            @include position($x, $y);
            @include levitation($x, $y, $level);
        }

        img {
            position: absolute;
            height: $leftColumnElementHeight - .1em;
            top: .07em;
            left: .36em;
        }
    }

    $rightColumnX: 3.4em;
    $rightColumnY: 1.4em;
    $rightColumnElementHeight: 2em;
    $rightColumnElementWidth: 2.5em;
    $displacementY: .4em;


    .article-1, .article-2, .article-3, .article-4 {
        width: $rightColumnElementWidth;
    }

    .article-1 {
        $x: $rightColumnX;
        $y: $rightColumnY;

        $level: 2;
        @include position($x, $y);
        
        &.extended {
            $x: $x + .2em;
            $y: $y + .25em;
            @include position($x, $y);
            @include levitation($x, $y, $level);
        }

        img {
            position: absolute;
            width: $rightColumnElementWidth - .2em;
            top: .2em;
            left: .1em;
        }
    }
    .article-2 {
        $x: $rightColumnX + $rightColumnElementWidth - $displacementX;
        $y: $rightColumnY + $displacementY;

        $level: 1.5;
        @include position($x, $y);
        
        &.extended {
            $x: $x + .2em;
            $y: $y + .3em;
            @include position($x, $y);
            @include levitation($x, $y, $level);
        }

        img {
            position: absolute;
            width: $rightColumnElementWidth - .18em;
            top: .2em;
            left: .07em;
        }
    }
    .article-3 {
        $x: $rightColumnX - 2 * $displacementX;
        $y: 2 * $rightColumnY + 1.5 * $displacementY;

        $level: 1.2;
        @include position($x, $y);
        
        &.extended {
            $x: $x + .1em;
            $y: $y + .2em;
            @include position($x, $y);
            @include levitation($x, $y, $level);
        }

        img {
            position: absolute;
            width: $rightColumnElementWidth - .18em;
            top: .21em;
            left: .08em;
        }
    }
    .article-4 {
        $x: $rightColumnX + $rightColumnElementWidth - 3 * $displacementX;
        $y: 2 * $rightColumnY + 2.5 * $displacementY;

        $level: 1;
        @include position($x, $y);
        
        &.extended {            
            $x: $x + .2em;
            $y: $y + .5em;
            @include position($x, $y);
            @include levitation($x, $y, $level);
        }

        img {
            position: absolute;
            width: $rightColumnElementWidth - .18em;
            top: .25em;
            left: .07em;
        }
    }

}