@import ".env.scss";
$animationMultiplier: $animationMultiplier * .5;

#landing {
    z-index: 1;
    header {
        display: flex;
        svg {
            fill: white;
        }
        
        .logo {         
            svg {
                height: 20em;                 
                max-width: 50vw;
            }
        }

        nav {
            flex: 1;
            text-align: right;            
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: relative;
        }

        nav.mobile {
            opacity: 0;
            left: 100vw;            
            transition: left 1s * $animationMultiplier, opacity 0s * $animationMultiplier 1s; 
            padding: 5rem;
            box-sizing: border-box;
            position: fixed;
            width: 100vw;
            height: 100vh;
            background: linear-gradient(to bottom, $blue, $green);
            top: 0;
            z-index: 1;
            justify-content: flex-end;
            flex-flow: column-reverse;

            .icon {
                display: block;
                align-self: flex-end;
            }

            .links {
                width: 100%;
                display: flex;
                flex-flow: column;
                box-sizing: border-box;
                align-items: center;
                margin-top: 10rem;
                a.button {
                    margin: 4rem 0 0;
                    padding: .5em 1em;
                    font-size: 5em;
                    text-align: center;
                    width: 50vw;
                    background: rgba($color: white, $alpha: .2);
                    border: none;
                }
            }
        }

        nav.mobile.visible {
            transition: left 1s * $animationMultiplier, opacity 0s * $animationMultiplier;
            opacity: 1;
            left: 0 !important;
        }

        .links {            
            align-self: flex-start;
            display: none;
        }
        
        .icon {
            display: none;
        }

        .icon:hover {
            cursor: pointer;
        }

        .links.visible, .icon.visible {
            display: block;
        }

        a.button {
            display: inline-block;
            font-size: 3.5em;
            padding: 1rem 7rem;
            border: .1rem solid white;
            border-radius: .5rem;
            transition: background $animationMultiplier * 1s, border-color $animationMultiplier * 1s;
        }

        a.button + a.button {
            margin-left: 3rem;
        }

        a.button:hover {
            cursor: pointer;
            background: rgba($color: white, $alpha: .2);
            border-color: transparent;
        }
        

        .icon {                
            margin-right: 3em;
            svg {
                max-height: 8em;
            }
        }

        @media only screen and (max-width: 425px) {
            .logo {
                svg {
                    width: 100%;
                    height: auto;
                }
            }
            .icon {               
                margin-right: 5vw;
                svg {
                    max-height: initial;
                    max-width: 12vw;
                }
            }
        }
    }

    .mid {
        position: relative;
    }

    main {        
        position: absolute;
        left: -.5em;
        float: left;

        > * {
            margin-top: 1em;
        }

        a.button {
            display: block;
            width: fit-content;
            font-size: 4.5em;
            text-align: center;
            font-weight: 400;
            padding: .5em 1em;
            border: .1rem solid transparent;
            border-radius: 1rem;
            background: rgba($color: white, $alpha: .2);
            transition: background $animationMultiplier * 1s, border-color $animationMultiplier * 1s;
        }

        a.button:hover {
            cursor: pointer;
            border-color: white;
            background: rgba($color: white, $alpha: .1);;
        }

        @media only screen and (max-width: 425px) {
            a.button {
                width: auto;
                padding: .5em 0;
                font-size: 4em;
            }
        }
        @media only screen and (min-width: 600px) {
            max-width: 100ch;
            padding-top: 2em;
        }
    }
    .hero {
        position: relative;
        float: right;
        top: -.5em;
        width: 8em;
        font-size: 11.5vmin;
        height: 100px;
        z-index: -1;
        opacity: .2;

        @media only screen and (min-width: 1200px) {
            opacity: 1;
        }
        
        @media only screen and (max-width: 1024px) {
            font-size: 10vmin;
            top: 2vh;
            opacity: .2;
        }

        @media only screen and (max-width: 480px) {
            font-size: 10vmin;
            top: 10vh;
            opacity: .05;
        }
    }

    footer {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 5em;
        text-align: center;

        .arrow-icon {
            svg {            
                width: 8em;
                top: 0;
                transition: top $animationMultiplier * 1s;
            }
            
            svg:hover {
                cursor: pointer;
                position: relative;
                top: 2em;
                padding-top: 2em;
            }
        }
    }
}