@import ".env.scss";

#content_marketing {
    display: flex;
    flex-flow: row-reverse wrap;
    align-content: center;
    justify-content: space-evenly;

    &.invertedAnimation {
        aside {
            left: 0rem !important;
        }
        main {
            right: -5rem !important;
        }
    }

    main {
        max-width: 100ch;
        position: relative;
        right: 0;
        transition: right 1s * $animationMultiplier;
    }

    aside {
        position: relative;
        margin-top: 3em;
        font-size: 4em;
        max-width: 27ch;
        display: flex;
        flex-flow: wrap;
        left: 3rem;
        transition: left 1s * $animationMultiplier;
        .bubble {
            span {
                width: 100%;
                padding: .5rem 0;
                background: rgba($color: black, $alpha: .3);
                backdrop-filter: blur(5px);
            }
            img {
                position: absolute;
                width: 100%;
                z-index: -1;
            }
        }

        .bubble {
            position: relative;
            margin-top: 0rem;
        }
        
        .n1 {
            $width: 35rem;
            width: $width;
            height: $width;
        }
        .n2 {
            $width: 25rem;
            width: $width;
            height: $width;
        }
        .n3 {
            $width: 20rem;
            width: $width;
            height: $width;
        }
        .n4 {
            $width: 30rem;
            width: $width;
            height: $width;
        }

        @media only screen and (max-width: 425px) {
            flex-flow: column;
            margin-top: 0;
            .bubble {
                position:static;
                margin: 0 !important;
                margin-top: 1.5em !important;               
                font-size: 1.1em !important;
            }
            left: 0;
            top: 0;
            .n1, .n2, .n3, .n4 {
                top: 0;
                $width: 80vw;
                width: $width !important;
                height: $width !important;
                img {
                    width: $width !important;
                    height: $width !important;
                }
            }
        }

        @media only screen and (max-width: 690px) {
            align-self: center;
            max-width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 0;
            .bubble {
                position:static;
                margin: 1rem;
                font-size: .6em;
            }
            left: 0;
            top: 0;
            .n1, .n2, .n3, .n4 {
                top: 0;
                $width: 35vw;
                width: $width;
                height: $width;

                img {
                    width: $width;
                    height: $width;
                }
            }
        }

        .n1, .n3 {
            top: -10rem;
        }
        .n2 {
            top: 10rem;
        }
    }

    .bubble.n5 {
        top: -20rem;
    }
    .bubble.n6 {
        top: -15rem;
        right: 20rem;
    }
}