@import ".env.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700&display=swap');

:root {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1vh;
    overscroll-behavior: none;
    overflow: hidden;

    a:link, a:visited {
        color: white;
        text-decoration: none;
    }
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    padding: 0;
    margin: 0;   
    background: linear-gradient(to bottom, $blue, transparent), linear-gradient(to top left, $green, transparent);
    background-attachment: fixed;
}

section:not(#landing) {
    opacity: 1;
    transition: opacity 1s;
    
    &.invertedAnimation {
        opacity: 0 !important;
    }
}

section {
    font-size: 1rem;
    margin: 0 auto;
    max-width: 177vh; //177vh Panoramic Screen Height/Width Ratio
    min-height: 100vh;
    padding: 5rem;
    box-sizing: border-box;
    position: relative;

    h1, h2, h3, h4 {
        margin: 0;
    }

    h1 {
        font-weight: 600;
    }
    h1, h2 {
        font-size: 4.5em;
    }

    h2 {
        font-size: 4em;
        font-weight: 500;
    }

    h3 {
        font-size: 3.7em;
        font-weight: 300;
    }
    
    h4, p {
        font-size: 3.5em;
    }

    @media only screen and (max-width: 425px) {
        padding: 4rem;

        p {
            word-break: normal;
        }
    }
}

.stroke::after {
    content: "";
    margin-top: .5em;
    display: block;
    width: 10rem;
    height: .5rem;
    border-radius: .2rem;
    background: rgba($color: white, $alpha: .5);
}

svg {
    height: inherit;
    width: auto;
}

.bubbles {
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;

    .topLeft, .topRight, .bottomLeft, .bottomRight {
        position: absolute;
    }

    .topLeft, .topRight {
        top: 0;
    }

    .bottomLeft, .bottomRight {
        bottom: 0;
    }

    .topRight, .bottomRight {
        right: 0;
    }
}

.bubble {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: .8em;
    top: 0;
    right: 0;
    width: 10rem;
    height: 10rem;
    background: linear-gradient(to bottom, rgba($color: $green, $alpha: .25), transparent);
    border-radius: 50%;
    overflow: hidden;
}

.bubble.inverted {
    background: linear-gradient(to top, rgba($color: $green, $alpha: .25), transparent);
}

.bubble.alternative {
    background: linear-gradient(to bottom, rgba($color: $blue, $alpha: .5), transparent);
}

.bubble.alternative.inverted {
    background: linear-gradient(to top, rgba($color: $blue, $alpha: .25), transparent);
}

.bubble.white {
    background: linear-gradient(to bottom, rgba($color: white, $alpha: .25), transparent);
}

.bubble.white.inverted {
    background: linear-gradient(to top, rgba($color: white, $alpha: .25), transparent);
}

.bubble.size-1 {
    $width: 15rem;
    width: $width;
    height: $width;
}

.bubble.size-2 {
    $width: 30rem;
    width: $width;
    height: $width;
}

.bubble.size-3 {
    $width: 45rem;
    width: $width;
    height: $width;
}

.light {
    font-weight: 100;
}
.normal {
    font-weight: 300;
}
.bold {
    font-weight: 500;
}


