@import ".env.scss";

#spoty_reklamowe {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2em;

    &.invertedAnimation {
        main {
            left: -5rem !important;
        }
        .mic {
            img {
                top: 15% !important;
            }
        }
        .bubble.n1 {
            right: -5% !important;
        }
        .bubble.n2 {
            right: -5rem !important;
        }
    }


    main {        
        flex: 1;
        max-width: 100ch;
        min-width: 65ch;
        margin-right: 1em;
        position: relative;
        left: 0;
        transition: left 1s * $animationMultiplier;

        p {
            margin-bottom: 2em;
        }
    }

    .player {
        width: 100%;
        height: 10rem;
        display: flex;
        align-items: center;

        svg {
            fill: rgba($color: white, $alpha: .9);
        }

        .icon {
            -ms-user-select:none;
            -moz-user-select:none;
            -webkit-user-select:none;
            -webkit-touch-callout: none;
            -khtml-user-select: none;
            user-select:none;
            height: 90%;
            margin-right: 3rem;
            
            display: flex;
            align-items: center;
            
            &:hover {
                cursor: pointer;
            }
        }

        .wave {
            flex: 1;
            position: relative;
            stroke: white;
            width: auto;
            height: auto;
            padding: .5em;
            border-radius: 1rem;
            overflow: hidden;
            box-sizing: border-box;
        }
        .ghost {
            height: 100%;
            position: absolute;
            left:0;
            top:0;
            background: rgba($color: white, $alpha: .3);
        }
    }
    
    .mic {
        position: relative;
        align-self: stretch;
        text-align: center;
        width: fit-content;

        img {
            top: 10%;
            position: relative;
            width: 50rem;
            max-width: 70vw;
            transition: top 1s * $animationMultiplier;
        }

        .bubble.n1 {
            right: -15%;
            top: 15%;
            $width: 85em;
            $max-width: 100vw;
            height: $width;
            width: $width;
            max-height: $max-width;
            max-width: $max-width;
            transition: right 1s * $animationMultiplier;
        }       
        
        .bubble.n2 {
            width: 65%;
            height: 35%;
            top: 65%;
            right: 0;
            z-index: 1;
            transition: right 1s * $animationMultiplier;
        }
    }

    .bubble.n3 {
        top: -10rem;
    }

    .bubble.n4 {
        left: -10rem;
        top: -20rem;
    }
}