@import ".env.scss";

#www {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    .views {
        svg {
            width: 100%;
        }
        .views-color-1 {
            fill: rgba($color: $blue, $alpha: .5);
        }
        position: relative;
        bottom: 0;
        transition: bottom 1s * $animationMultiplier;
    }

    .bubble.n1 {
        top:0;
        right:0;
        position: relative;
        transition: right 1s * $animationMultiplier;
    }
    .bubble.n2 {
        top: -50rem;
        right: -10rem;
        position: relative;
        transition: right 1s * $animationMultiplier;
    }

    main {
        position: relative;
        top: 0;
        transition: top 1s * $animationMultiplier;
    }

    &.invertedAnimation {
        main {
            top: -5em !important;
        }
        main {
            bottom: -5em !important;
        }
        .bubble.n1 {
            right: -10rem !important;
        }
        .bubble.n2 {
            right: -20rem !important;
        }
    }
}